@page
@model hon3y.Pages.Afspraken
@{
    ViewData["Title"] = "Formulier";
}

<div class="form-group">
    <form method="post">
        <label for ="voornaam">Voornaam</label>
        <input name="voornaam" type="text" placeholder="voornaam" asp-for="Afspraak.Voornaam" class="form-control" /><br />
        
        <label for="achternaam">Achternaam</label>
        <input name="achternaam" type="text" placeholder="achternaam" asp-for="Afspraak.Achternaam" class="form-control" /><br />
        
        <label for="email">Emailadres</label>
        <input name="email" type="email" placeholder="text" asp-for="Afspraak.Email" class="form-control" /><br />
        
        <label for="telefoonnummer">Telefoonnummer</label>
        <input name="telefoonnummer" type="text" asp-for="Afspraak.Telefoonnummer" placeholder="06-12345678" class="form-control" /><br />
        
        <label for="afspraakreden">Afspraakreden</label>
        <input name="afspraakreden" type="text" asp-for="Afspraak.AfspraakReden" placeholder="reden afspraak" class="form-control" /><br />
        
        <label for="datum">Datum</label>
        <input name="datum" type="datetime-local" asp-for="Afspraak.Datum" placeholder="@DateTime.Now.ToString("dd-MM-yyyy HH:mm")" class="form-control" /><br />
        
        <<button class="btn btn-default">Verzend</button>
    </form>
</div>