@page
@model hon3y.Pages.FormModel
@{
    ViewData["Title"] = "Formulier";
}

<div>
    <form>
        <label>test</label>
        <input type="text" /><br />
        <label>test</label>
        <input type="text" /><br />
        <label>test</label>
        <input type="email" /><br />
        <label>test</label>
        <input type="number" /><br />
        <label>test</label>
        <input type="datetime-local" /><br />
        <button>Verzend</button>
    </form>
</div>