@page
@model hon3y.Pages.FormModel
@{
    ViewData["Title"] = "Formulier";
}

<div>
    <form>
        <label></label>
        <input type="text" />
        <input type="text" />
        <input type="email" />
        <input type="number" />
        <input type="datetime-local" />
        <button>Verzend</button>
    </form>
</div>