@page
@model hon3y.Pages.Formulier2Model
@{
    ViewData["Title"] = "Formulier2";
}

<div class="form-group">
    <form asp-antiforgery="true" method="post">
        <label for="voornaam">Voornaam:</label>
        <input name="voornaam" type="text" placeholder="voornaam" class="form-control" /><br />
        <label for="achternaam">Achternaam:</label>
        <input name="achternaam" type="text" placeholder="achternaam" class="form-control" /><br />
        <label for="emailadres">Emailadres:</label>
        <input name="emailadres" type="email" placeholder="email" class="form-control" /><br />
        <label for="uploadedFile">Bestand:</label>
        <input name="uploadedFile" type="file" class="form-control" /><br />
        <button class="btn btn-default">Verzend</button>
    </form>
</div>