@page
@model hon3y.Pages.Formulier2Model
@{
    ViewData["Title"] = "Formulier2";
}

<div>
    <form>
        <label>test</label>
        <input type="text" placeholder="test" /><br />
        <label>test</label>
        <input type="text" placeholder="test" /><br />
        <label>test</label>
        <input type="email" placeholder="test" /><br />
        <label>test</label>
        <input type="file" /><br />
        <button>Verzend</button>
    </form>
</div>