@page
@model hon3y.Pages.FormModel
@{
    ViewData["Title"] = "Formulier";
}

<div>
    <form method="post">
        <label>test</label>
        <input asp-for="voornaam" type="text" placeholder="voornaam" /><br />
        <label>test</label>
        <input asp-for="achternaam" type="text" placeholder="achternaam" /><br />
        <label>test</label>
        <input asp-for="email" type="email" placeholder="email" /><br />
        <label>test</label>
        <input asp-for="telefoonnummer" type="number" placeholder="telefoonnummer" /><br />
        <label>test</label>
        <input asp-for="afspraakreden" type="text" placeholder="reden afspraak" /><br />
        <label>test</label>
        <input asp-for="datum" type="datetime-local" /><br />
        <button>Verzend</button>
    </form>
</div>