@page
@model hon3y.Pages.FormModel
@{
    ViewData["Title"] = "Formulier";
}

<div class="form-group">
    <form method="post">
        <label for ="voornaam">Voornaam</label>
        <input name="voornaam" type="text" placeholder="voornaam" class="form-control" /><br />
        <label for="achternaam">Achternaam</label>
        <input name="achternaam" type="text" placeholder="achternaam" class="form-control" /><br />
        <label for="email">Emailadres</label>
        <input name="email" type="email" placeholder="email" class="form-control" /><br />
        <label for="telefoonnummer">Telefoonnummer</label>
        <input name="telefoonnummer" type="number" placeholder="telefoonnummer" class="form-control" /><br />
        <label for="afspraakreden">Afspraakreden</label>
        <input name="afspraakreden" type="text" placeholder="reden afspraak" class="form-control" /><br />
        <label for="datum">Datum</label>
        <input name="datum" type="datetime-local" placeholder="@DateTime.Now.ToString("dd-MM-yyyy HH:mm")" class="form-control" /><br />
        <button>Verzend</button>
    </form>
</div>