@page
@model hon3y.Pages.Formulier2Model
@{
    ViewData["Title"] = "Formulier2";
}

<div>
    <form>
        <label>test</label>
        <input asp-for="textvak1" type="text" placeholder="test" /><br />
        <label>test</label>
        <input asp-for="textvak2" type="text" placeholder="test" /><br />
        <label>test</label>
        <input asp-for="emailadres" type="email" placeholder="test" /><br />
        <label>test</label>
        <input asp-for="uploadedFile" type="file" /><br />
        <button>Verzend</button>
    </form>
</div>