@page
@model hon3y.Pages.Formulier2Model
@{
    ViewData["Title"] = "Formulier2";
}

<div>
    <form method="post">
        <label for="voornaam">test</label>
        <input for="voornaam" type="text" placeholder="voornaam" /><br />
        <label for="achternaam">test</label>
        <input for="achternaam" type="text" placeholder="achternaam" /><br />
        <label for="emailadres">test</label>
        <input for="emailadres" type="email" placeholder="email" /><br />
        <label for="uploadedFile">test</label>
        <input for="uploadedFile" type="file" /><br />
        <button>Verzend</button>
    </form>
</div>