@page
@model hon3y.Pages.Formulier2Model
@{
    ViewData["Title"] = "Formulier2";
}

<div class="form-group">
    <form asp-antiforgery="true" method="post">
        <div asp-validation-summary="ModelOnly"></div>

        <label for="voornaam">Voornaam:</label>
        <span asp-validation-for="Inzending.Voornaam"></span>
        <input name="voornaam" type="text" asp-for="Inzending.Voornaam" placeholder="voornaam" class="form-control" /><br />
        
        <label for="achternaam">Achternaam:</label>
        <span asp-validation-for="Inzending.Achternaam"></span>
        <input name="achternaam" type="text" asp-for="Inzending.Achternaam" placeholder="achternaam" class="form-control" /><br />
        
        <label for="emailadres">Emailadres:</label>
        <span asp-validation-for="Inzending.Email"></span>
        <input name="emailadres" type="email" asp-for="Inzending.Email" placeholder="email" class="form-control" /><br />
        <label for="uploadedFile">Bestand:</label>
        
        <span asp-validation-for="Inzending.Bestand"></span>
        <input name="uploadedFile" type="file" asp-for="Inzending.Bestand" class="form-control" /><br />
        <button class="btn btn-default">Verzend</button>
    </form>
</div>