@page
@model IndexModel
@{
    ViewData["Title"] = "Homepage";
}

<div class="container">
    <div class="row">
        <a asp-page="/Afspraken" id="nav-link">Maak een afspraak</a>
        <br /><br /><br /><a asp-page="/Inzendingen" id="nav-link">Upload een formulier</a>
    </div>
</div>