@page
@model hon3y.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div>
    <form>
        <label for="email">email adres</label>
        <input type="email" placeholder="email" id="email"/><br />
        <label for="wachtwoord">wachtwoord</label>
        <input type="password" placeholder="wachtwoord" id="wachtwoord"/><br />
        <button>Login</button>
    </form>
</div>