@page
@model hon3y.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="form-group">
    <form method="post">
        <label for="email">email adres</label>
        <input for="email" type="email" placeholder="email" id="email" class="form-control" /><br />
        <label for="wachtwoord">wachtwoord</label>
        <input for="password" type="password" placeholder="wachtwoord" id="wachtwoord" class="form-control" /><br />
        <button>Login</button>
    </form>
</div>