@page
@model hon3y.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div>
    <form method="post">
        <label for="email">email adres</label>
        <input asp-for="email" type="email" placeholder="email" id="email"/><br />
        <label for="wachtwoord">wachtwoord</label>
        <input asp-for="password" type="password" placeholder="wachtwoord" id="wachtwoord"/><br />
        <button>Login</button>
    </form>
</div>