@page
@model hon3y.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div>
    <form>
        <label>email adres</label>
        <input type="email" />
        <label>wachtwoord</label>
        <input type="password" />
        <button>Login</button>
    </form>
</div>