@page
@model hon3y.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div>
    <form>
        <label></label>
        <input type="email" />
        <input type="password" />
        <button>Login</button>
    </form>
</div>